@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    color: var(--grey);
    font-family: "Plus Jakarta Sans", sans-serif ;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}



header {
    background-color: linear-gradient(151deg, rgba(0, 14, 66, .6) 4%, rgba(255, 255, 255, 0) 80%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;
}

nav {
    flex: 1;
    margin-left: 40px;
    
}

.containerer {
    max-width: 100%;
    grid-gap: 150px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-logo-container{
    display: flex;
    grid-column-gap: 20px;
}
.main-logo img{
    height: 43px;
    width: 43px;
}

.logo-text{
    font-size: 25.82px;
    padding-top: 14px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    
}

nav ul li{
    justify-content: space-between;
    justify-items: space-between;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    color: #5A6675;
    
    transition: color 0.3s;
}

.home{
    color: #003FE8;
}

nav ul li a:hover {
    color: #003FE8;
}

.auth-link{    
    
}

.cta{
    font-weight: 60;
    font-size: 16px;
    background-color: #0045FF;
    text-decoration: none;
    color: #EFF0F1;
    padding: 12px 24px;
    border:0px solid black;
    border-radius: 5px;
    
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.cta:hover{
    background-color: #4680ec;
}



.slider{
    width: 100%;
    height: 800px;
    overflow: hidden;
} 

.slides{
    width: 500%;
    height: 900px;
    display: flex;  
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 80%;
}

.image-date{
    position: absolute;
    top: 120px;
    grid-row-gap: 200px;
    left: 120px;
    
}
.hero-text h1{
    margin-top: 100px;
    color: #E6ECFF;
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;

}
.image-date h2{
    margin-top: 36px;
    color: #E6ECFF;
    font-weight: 400;
    font-size: 18px;
    
}
.image-date a{
    position: relative;
    text-decoration: none;
}

.button{
    
    padding: 20px 24px;
    background-color: #0045FF;
    color: #bfd6fa;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
    border-radius: 5px;
    
}

.navigation-manual{
    margin-top: -250px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
    transform: translateY(50%);
}

.manual-btn{
    margin-left: 0px;
    border: 1px solid #5482FF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background:#E6ECFF;
}

#radio1:checked ~.first{
    margin-left: 0%;
}

#radio2:checked ~.first{
    margin-left: -20%;;
}
#radio3:checked ~.first{
    margin-left: -40%;
}

.navigation-auto{
    margin-top: 650px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(50%);
}

.navigation-auto div{
    margin-left: 0px;
    border: 1px solid #5482FF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;  
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #E6ECFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #E6ECFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #E6ECFF;
}




/*










*/


.container {
    flex-direction: column;
    
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
}

.w-layout-blockcontainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.w-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-two{
    color: #262B31;
    font-size: 24px;
    padding: 20px 10px;
    font-weight: 800;
    
}

.card-container{
    
    
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.card-touch{
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 12px 10px;
    background-color: #fff;
    height: 37em;   
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);   
}

.card:hover{
    background-color: #3972dd;
    border: 1px solid #0031B5;
    transform: 0.3s ease-in-out;
}

.card-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px 0px;
}

.mobile{
    display: none;
}

.card-text{
    flex-grow: 1;
    padding: 0px 32px;
    color: #CCD0D4;
}

.card-caption{
    padding: 20px 0px;
}

.card-caption-text{ 
    font-weight: 700;
    color: #262B31;
    font-size: 32px;
    line-height: 40px;
}

.card-body-container{
    text-decoration: none;
    
    
}
.card-body-containee{
    display: flex;
}

.card-body-containee img{
    height: 20px;
    width: 30px;
}

.card-body-text{
    color: #404853;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    line-height: 28px;
}

.card-logos {
    
    justify-content: center;
    align-items: center;
    padding: 40px 32px;
}

.card-logo-box{
    display: flex;
    grid-row-gap: 30px;
    flex-wrap: wrap;;
    justify-content: space-around; /* Distributes logos evenly */
}

.mini-logo {
    flex-basis: 0%; /* Adjust the basis to control logo size and spacing */
    margin: 5px; /* Add some margin to avoid logos sticking together */
}

.card.blue{
    background-color: #0031B5;
}

.card-image {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

.card-background-imaging.blue{
    z-index: 0;
    /*background-image: url(https://cdn.prod.website-files.com/6360022…/6563c15…_convert-money.svg);*/
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 45%;
    bottom: 0%;
    left: 60%;
    right: 0%;
    transition: transform 0.3s ease-in-out;
    opacity: 0.15;
}

.card-logo-big-box{
    padding: 0px 30px;
}

.card-logo-big-box img{
    height: 128px;
    width: 128px;
    border: 1px, solid, white;
    border-radius: 50%;
    
    background-color: white;

}

.card-caption-big{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    padding: 50px 0px;
    line-height: 1.5;
    
}

.card-button{    
    justify-content: center;
    align-items: center;
    display: flex;

    
}

.cta2{
    background-color: white;
    text-decoration: none;
    color: #2467E3;
    padding: 15px 180px;
    border:0px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.cta:hover{
    background-color: #4680ec;
}





.card-holder.three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.card-holder.three a{
    text-decoration: none;
}



.card.three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 12px 10px;
    background-color: #E6F1FF;
    height: 304px;  
    border: 1px solid #CCD0D4; 
}

.card-content.three{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 32px 24px;
}

.card.three:hover{
    background-color: #3972dd;
    border: 1px solid #0031B5;
    transform: 0.3s ease-in-out;    
}



.card-icon-box{
    font-size: 48px;
    color: #404853; 
}

.card-text.three{
    text-decoration: none;
    color: #262B31;
    padding: 0px 0px;
    flex-grow: 0;
}

.card-caption.three{
    padding: 0px 0px;
    color:#262B31;
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
}

.card-body.three{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 40;
    color: #404853;
}




.card-holder.four{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-holder.four a{
    text-decoration: none;
}

.card.four{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 12px 10px;
    height: 520px;   
    border: 1px solid #CCD0D4;
    border-radius: 8px;
    background-color: #EEF2F8;
     
}



.global-text{
    font-size: 18px;
    margin-left: 20px;
    color: #525D6A;
    font-weight: 400;
    line-height: 28px;
}
.card-text{
    text-decoration: none;
}
.card-caption.four{
    text-decoration: none;
    color: #262B31;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.card-body.four{
    color: #404853;
    font-size: 18px;
}

.card-background-imaging.four{
    z-index: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 45%;
    bottom: 0%;
    left: 60%;
    right: 0%;
    transition: transform 0.3s ease-in-out;
    opacity: 0.15;
}

.card-background-imaging.four.fortyone{
    z-index: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 40%;
    bottom: 0%;
    left: 10%;
    right: 0%;
    transition: transform 0.3s ease-in-out;
    opacity: 0.7;
}

.card-background-imaging.four.fortytwo{
    z-index: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 15px;
    bottom: 0%;
    left: -10px;
    right: 0%;
    transition: transform 0.3s ease-in-out;
    opacity: 1;
}





.card-container.five{
    display: flex;
}

.header-five{
    color: #003FE8;
    font-size: 24px;
    padding: 20px;
    font-weight: 800;
    line-height: 1.5;
}

.card-holder.five{
    width: 792px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0px;    
}

.card-holder.five a{   
    text-decoration: none;
}

.card.five{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 24px 12px;
    background-color: #00268C;
    height: 188px;
    border-radius: 8px;   
}

.card.five:hover{
    color: #0a4cc5;
    transition: transform 0.3s ease;
}


.card-content.five {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 0px;
    margin-top: -20px;
}

.card-icons.five{
    display: flex;
    justify-content: flex-end;

}

.card-icon-box.five{ 

}

.card-icon-box.five img{
    height: 24px;
    width: 24px;
}

.card-logo-big-box.fivety img{
    height: 128px;
    width: 128px;
}



.card-profile-box{
    width: 88px; /* Reduced width */
    height:88px; /* Reduced height */
   
    background-color: #8AA9FF;
    border-radius: 50%; /* Make the box circular */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures the image fits within the circle */
}

.card-profile-box img{
    height: 80px;
}

.card-text.five{
    flex-grow: 0;
    padding: 20px 0px;
    color: #CCD0D4;
}

.card-name{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: #EFF0F1;
}

.card-describe{
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #CCD0D4;
}

.card-hold.fivety{
  height: 30em;
}

.card.blue.fivety{
    background-color: #bfd6fa;
    height: 400px;
    width: 384px;
    border: 1px solid #CCD0D4;
}

.card-logos-big.fivety{
    margin: 16px 16px;
}



.card-caption-big.fivety{
    color: #001D6B;
    font-size:32px;
    font-weight: 700;
    padding: 16px 0px;
    line-height: 36px;

}

.cta2.fivety{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
    background-color: #0045FF;
    color: #EFF0F1;   
    padding: 12px 72px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}
.cta2.fivety img{
    margin-bottom: -8px;
    margin-right: 10px;
}


.card-container.six{
    color: #072864;
    margin: 100px 0px;
}

.card.six{
    background-color: #003FE8;
    height: 320px;
    border: 0px solid white;
}

.card-content.six{
    display: block;
    margin: 20px 20px;
}

.card-caption.six h2{
    color: #E6ECFF;
    line-height: 56px;
    font-weight: 800;
    font-size: 48px;
    padding-bottom: 48px;
}

.cta-6{
    
    text-decoration: none;
    background-color: #FFFFFF;
    color: #003FE8;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 24px;
    border-radius: 5px;
    line-height: 24px;
}

.card-background-imaging.six{
    z-index: 0;
    /*background-image: url(https://cdn.prod.website-files.com/6360022…/6563c15…_convert-money.svg);*/
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 88px;
    bottom: 0%;
    left: 850px;
    right: 0%;
    transition: transform 0.3s ease-in-out;
    opacity: 1;
}
.footer-content{
    display: flex;
}

.footer-left{
    display: flexbox;
    flex-direction: column;
    justify-content: left; /* Aligns content to the bottom */
    text-align: left;
    flex: 1;
    
}

.footer-right{
    display: flexbox;
    flex-direction: column;
    justify-content: right; /* Aligns content to the bottom */
    text-align: right;
    flex: 1;
}

.footer-text-logo{
    display: flex;
}

.footer-logo img{
    margin-top: 10px; 
    margin-right: 10px;
}

.logo-text-font{
    color: #071A20;
    font-size: 36px;
}

.footer-body{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #525D6A
}

.footer-container{
    margin: 100px 0px;
    color: grey;
}

.footer-text{
    color: black;
    margin: 20px 0px;
}

.footer-text-logo{
    margin: 20px 0px;
}
.footer-invite{
    margin-top: 70px;
}

.cta-7:hover{

    background-color: #ffffe0;
}

.cta-7{
    
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #5A6675;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #8AA9FF;
}

.cta-7 img{
    margin-bottom: -5px;
}

.auth-link-7{
    margin-top: 24px;
}

.cta.seven{

}

.line{
    margin-top: 64px;
    border: 1px solid #525D6A 
}

.footer-mail{
    padding-top: 36px;
    color: #5A6675;
}

.footer-icon-contain{
    margin-top: 24px;
    color: #525D6A;
    font-weight: 500;
}

.footer-icon img{
    height: 20px;
    margin-bottom: -6px;
}

.footer-rights{
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flexbox;
    flex-direction: column;
    justify-content: left; /* Aligns content to the bottom */
    text-align: left;
    flex: 1;
    
}
.footer-policy{
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.footer-bottom{
    color: #525D6A;
    margin-top: 0x;
}

.footer-media{
    padding-left: 20px;
}

.footer-tag{
    display: flexbox;
    flex-direction: column;
    justify-content: right; /* Aligns content to the bottom */
    text-align: right;
    flex: 1;
    margin-top: -48px;
}

.mobile-menu{
    display: none;
}

.card-background-imaging.blue img{
    width: 250px;
    height: 250px;
}
/*










*/

@media screen and (max-width: 1348px) {

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 15px;
        font-size: 15px;
        
    }

    .logo-text{
        font-size: 15px;
    }

    .containerer {
        max-width: 100%;
        grid-gap: 80px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-logo-container{
        display: flex;
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 1230px) {
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 12px;
        font-size: 10px;
        
    }

    nav ul li a{
        font-size: 15px;
    }

    .cta{
        font-weight: 50;
        font-size: 12px;
        padding: 10px 20px;
    }
    .logo-text{
        font-size: 15px;
    }

    .containerer {
        max-width: 100%;
        grid-gap: 80px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-logo-container{
        display: flex;
        grid-column-gap: 15px;
    }

    .card-background-imaging.blue {
        top: 61%;
        left: 57%;
        opacity: 0.65;
    }

    .card-background-imaging.blue img{
        width: 200px;
        height: 200px;
    }

    .cta2 {
        padding: 15px 160px;
    }

    .card-caption.three{
        font-size: 24px;
        line-height: 2;
    }
    .card-body.three{
        font-size: 16px;
        line-height: 1.5;
    }


    .card-background-imaging.four.fortyone {
        top: 40%;
        left: 10%;
    }
    .card-background-imaging.four.fortytwo {
        top: 0%;
        left: 0%;
    }
    .card-background-imaging.four.fortytwo img{
        height: 100%;
        width: 100%;
    }
    
    
    .card-background-imaging.six {
        z-index: 0;
        /* background-image: url(https://cdn.prod.website-files.com/6360022…/6563c15…_convert-money.svg); */
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: absolute;
        top: 88px;
        bottom: 0%;
        left: 850px;
        right: 0%;
        transition: transform 0.3s ease-in-out;
        opacity: 1;
    }
}

@media screen and (max-width: 1110px) {
    nav ul{
        display: none;
    }

    .mobile{
        display: flex;
    }

    .mobile-menu{
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line{
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: black;
        transition: margin-top .3192s cubic-bezier(0.04,0.04,0.12,0.96);
    }

    .line-top{
        margin-top: 3px;
    }

    .line-bottom{
        margin-top: -.4rem;
    }

    .active .line-top{
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform .3192s .1s cubic-bezier(0.04,0.04,0.12,0.96);
    }

    .active .line-bottom{
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform .3192s .1s cubic-bezier(0.04,0.04,0.12,0.96);
    }

    header.active {
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px); /* Adjust height based on header height */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10.5em 2rem;
        background-color: white;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity .3s, width .3s;
        border-right: 2px solid grey;
    }
    
    .active nav ul {
        width: 100%; /* Adjust width as needed */
        opacity: 1;
    }
    
    .nav-ul-li {
        width: 100%;
        justify-content: flex-start;
        padding: 1em 0;
        border-bottom: 2px solid rgba(0, 0, 0, .1); /* Grey border-bottom */
    }
    
    .active .auth-link {
        width: 100%; /* Full width */
        text-align: center;
        margin-top: auto; /* Push to the bottom */
        padding-top: 650px;
        margin-right: 200px;
        justify-content: center;
        align-items: center;
        z-index: 1500;
    }
    
    .active .auth-link a {
        color: #fff;
        display: block;
        width: 100%;
        padding: 20px ;
        text-align: center;
        font-size: 15px;
    }
    
    .active .auth-link a.cta {
        padding: 25px 0px;
        margin-right: 300px;
    }
    
    .main-logo {
        justify-content: center;
        align-items: center;
        z-index: 150;
    }
    
    nav {
        position: relative;
    }

    .cta2 { 
        padding: 15px 120px;
    }


    .card-icon-box{
        font-size: 36px;
    }
    .card-icon-box i{
        height: 24px;
        width: 24px;
    }
    .mini-icon{
        height: 24px;
        width: 24px;
    }
    
    .card-caption.three{
        font-size: 24px;
        line-height: 2;
    }
    .card-body.three{
        font-size: 16px;
        line-height: 1.5;
    }


    .card-background-imaging.four.fortyone img{    
        width: 100%;
    }
    .card-background-imaging.four.fortytwo img{
        height: 100%;
        width: 100%;
    }

    .card-container.five {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .card-background-imaging.blue {
        top: 61%;
        left: 55%;
    }

    .card-background-imaging.blue img{
        width: 160px;
        height: 200px;
    }
   
    .cta2 { 
        padding: 15px 95px;
    }

    .card-caption-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
    }
    .card-body-containee img {
        height: 15px;
        width: 22.5px;
    }
    .card-body-text {
        font-size: 13.5px;
        font-weight: 400;
        margin-left: 10px;
        line-height: 21px;
    }

    .mini-logo {
        margin: 5px; /* Add some margin to avoid logos sticking together */
        width: 40%;
    }

    .card-icon-box{
        font-size: 32px;
    }
    .card-caption.three{
        font-size: 18px;
        line-height: 2;
    }
    .card-body.three{
        font-size: 14px;
        line-height: 1.5;
    }

    .global-text {
        font-size: 18px;
        margin-left: 20px;
        line-height: 28px;
    }
    .card-holder.four {
        grid-template-columns: repeat(2, 1fr);
    }
    .card.four {
        margin: 12px 10px;
        height: 520px;
    }
    .card-text.four {
        padding: 0px 32px;
    }
    .card-caption.four {
        font-size: 32px;
        line-height: 40px;
    }
    .card-body.four {
        font-size: 18px;
    }
    .card-background-imaging.four.fortyone {
        top: 40%;
        left: 10%;
    }
    .card-background-imaging.four.fortytwo {
        top: 0%;
        left: 0%;
    }
    .card-background-imaging.four.fortyone img{    
        width: 100%;
    }
    .card-background-imaging.four.fortytwo img{
        height: 100%;
        width: 100%;
    }
}
    


@media screen and (max-width: 800px) {
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 0px;
        
    }

    .containerer {
        max-width: 100%;
        grid-gap: 20px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-logo-container{
        display: flex;
        grid-column-gap: 20px;
    }

    .header-active{
        height: 100%;
        background-color: #000;
    }

    .card-background-imaging.blue {
        top: 61%;
        left: 55%;
    }

    .card-background-imaging.blue img{
        width: 160px;
        height: 200px;
    }
   
    .cta2 { 
        padding: 12px 90px;
    }

    .card-caption-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .card-body-containee img {
        height: 15px;
        width: 22.5px;
    }
    .card-body-text {
        font-size: 13.5px;
        font-weight: 400;
        margin-left: 10px;
        line-height: 21px;
    }
    .mini-logo {
        margin: 5px; /* Add some margin to avoid logos sticking together */
        width: 40%;
    }
    .card-icon-box{
        font-size: 32px;

    }
    .card-icon-box i{
        height: 24px;
        width: 24px;

    }
    .mini-icon{
        height: 24px;
        width: 24px;
    }
    
    .card-caption.three{
        font-size: 18px;

        line-height: 2;
    }
    
    .card-body.three{
        font-size: 14px;
        line-height: 1.5;
    }

    .card-holder.five {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    

    
}

@media  screen and ( max-width: 778px) {

    .card-background-imaging.blue {
        top: 61%;
        left: 55%;
    }

    .card-background-imaging.blue img{
        width: 160px;
        height: 200px;
    }
   
    .cta2 { 
        padding: 15px 50px;
    }

    .card-caption-big {
        
        font-size: 24px;
        font-weight: 700;
        padding: 50px 0px;
        line-height: 1.5;
    }
    .card-caption-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .card-body-containee img {
        height: 15px;
        width: 22.5px;
    }
    .card-body-text {
        font-size: 13.5px;
        font-weight: 400;
        margin-left: 10px;
        line-height: 21px;
    }
    .card-logo-box {
        grid-row-gap: 15px;
    }
    .mini-logo {
        margin: 3.75px; /* Add some margin to avoid logos sticking together */
        width: 20%;
        height: 20px;
    }

    .card-icon-box{
        font-size: 28px;
    }
    .mini-icon{
        height: 24px;
        width: 24px;
    }
    .card-caption.three{
        font-size: 12px;
        line-height: 1;
        padding: 10px 0px;
    }
    .card-body.three{
        font-size: 10px;
        line-height: 1.5;
    }
    
}

@media screen and (max-width: 616px) {
    .cta {
        font-weight: 45;
        font-size: 12px;
        padding: 9px 18px;
    }

    .main-logo img {
        height: 33px;
        width: 33px;
    }

    .logo-text {
    
        padding-top: 7px;
    }

    .logo-text-font {
        
        font-size: 27px;
    }

    .hero-text h1{
        margin-top: 50px;
        color: #E6ECFF;
        font-weight: 800;
        font-size: 48px;
        line-height: 54px;
    
    }

    .card {
        
        margin: 6px px;
        background-color: #fff;
        height: 27em;
        width: 16em;
    }

    .card-background-imaging.blue {
        top: 45%;
        left: 40%;
    }

    .card-background-imaging.blue img{
        width: 160px;
        height: 200px;
    }
   
    .cta2 { 
        padding: 15px 20px;
    }

    .card-caption-big {
        font-size: 24px;
        padding: 30px 0px;
        line-height: 1.0;
    } 
    .card-caption-big {   
        font-size: 16px;
        padding: 25px 0px;
        line-height: 1.0;
    }
    .card-caption-text {
        font-size: 16px;
        line-height: 20px;
    }
    .card-body-containee img {
        height: 10px;
        width: 15px;
    }
    .card-body-text {
        font-size: 9px;
        margin-left: 10px;
        line-height: 14px;
    }
    .card-logo-box {
        grid-row-gap: 15px;
    }
    .mini-logo {
        margin: 3.75px; /* Add some margin to avoid logos sticking together */
        width: 20%;
        height: 20px;
    }

    .card-holder.three {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card.six{
        width: 80%;
    }
    .cta-6 {
        padding: 10px 20px;
        font-size: 20px;
        line-height: 24px;
    }
    .card-caption.six {
        padding: 20px 0px;
    }
    .card-caption.six h2 {
        line-height: 48px;
        font-size: 40px;
        padding-bottom: 40px;
    }


    .footer-rights {
        margin-top: 20px;
        font-size: 12px;
        line-height: 24px;
        display: flexbox;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        flex: 1;
    }
    .footer-policy {
        margin-top: 24px;
        font-size: 12px;
        line-height: 24px;
    }
   
    
    
}
@media screen and (max-width: 516px) {
    .cta {
        font-weight: 45;
        font-size: 9px;
        padding: 6px 12px;
    }

    .main-logo img {
        height: 22px;
        width: 22px;
    }

    .logo-text {
        padding-top: 3px;
    }

    .logo-text-font {
        font-size: 18px;
    }

    .main-logo-container {
        display: flex;
        grid-column-gap: 10px;
        margin-left: 10px;
        margin-right: -30px;
    }

    .card {
        
        margin: 6px px;
        background-color: #fff;
        height: 27em;
        width: 15.5em;
    }

    .card-background-imaging.blue {
        top: 45%;
        left: 40%;
    }

    .card-background-imaging.blue img{
        width: 120px;
        height: 160px;
    }
   
    .cta2 { 
        padding: 15px 20px;
    }

    

    .card-caption-big {   
        font-size: 24px;
        font-weight: 700;
        padding: 30px 0px;
        line-height: 1.5;
    }

    .card-logo-big-box img {
        height: 72px;
        width: 72px;
    }


    .card-holder.three {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card.three{
        width: 80%
    }
    .card-icon-box{
        font-size: 30px;
    }
    .card-caption.three{
        font-size: 18px;
        line-height: 1;
        padding: 20px 0px;
    }
    .card-body.three{
        font-size: 12px;
        line-height: 1.5;
    }

    .card-holder.four{
        grid-template-columns: repeat(1,1fr);
    }
    .card.four{
        width: 80%;
    }

    .logo-text.eight {
        padding-top: 18px;
    }

    .logo-text-font {
        font-size: 18px;
    }
}
    
    

@media screen and (max-width: 485px) {

    .logo-text{
        display: none;
    }

    .image-date{
        position: absolute;
        top: 160px;
        grid-row-gap: 0px;
        left: 60px;
        
    }
    .hero-text h1{
        margin-top: 50px;
        color: #E6ECFF;
        font-weight: 800;
        font-size: 48px;
        line-height: 54px;
    
    }

    .card{
        width: 80%
    }

    .card-holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .header-two {
        font-size: 16px;
        line-height: 1.5;
        padding: 20px 10px;
    }

    .card.six{
        width: 80%;
    }
    .cta-6 {
        padding: 10px 20px;
        font-size: 16px;
    }
    .card-caption.six {
        padding: 15px 0px;
    }
    .card-caption.six h2 {
        font-size: 36px;
        padding-bottom: 36px;
    }

    .card.blue.fivety {
        width: 90%;
    }
    .card-caption-big.fivety {
        font-size: 28px;
        padding: 16px 0px;
        line-height: 36px;
    }
    .cta2.fivety {
        font-size: 16px;
        line-height: 24px;
        padding: 12px 54px;
    }
}
@media screen and (max-width: 400px) {
    .hero-text h1{
        font-size: 32px;
        line-height: 36px;
    }
    .card-holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);  
    }

    .global-text {
        font-size: 16px;
    }
   
    .card-caption.four {
        font-size: 24px;
    }
    .card-body.four {
        font-size: 13.5px;
    }   
    
   
    .cta-6 {
        padding: 10px 15px;
        font-size: 12px;
        line-height: 24px;
    }
    .card-caption.six {
        padding: 10px 0px;
    }
    .card-caption.six h2 {
        line-height: 30px;
        font-size: 28px;
    }


    .footer-tag {
        display: flexbox;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        flex: 1;
        margin-top: -16px;
    }
    
    .footer-rights {
        margin-top: 20px;
        font-size: 12px;
        line-height: 24px;
        display: flexbox;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        flex: 1;
    }
    .footer-policy {
        margin-top: 24px;
        font-size: 12px;
        line-height: 24px;
    }
    .footer-media {
        padding-left: 0px;
    }

    .card.blue.fivety {
        height: 400px;
        width: 90%;
    }
    .card-caption-big.fivety {
        font-size: 16px;
        padding: 16px 0px;
        line-height: 24px;
    }
    .cta2.fivety {
        font-size: 10px;
        line-height: 24px;
        padding: 12px 24px;
    }
    .cta2.fivety img {
        margin-bottom: -8px;
    }
    
}
@media screen and (max-width: 300px) {
    .cta{
        display: none;
    }

    .image-date{
        left: 30px;
        
    }

    .card {  
        margin: 6px px;
        height: 27em;
        width: 80%
    }

    .card-holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }


    .card-background-imaging.four.fortytwo {
        top: 20%;
        left: 20%;
    }
    .card-background-imaging.four.fortytwo img{
        height: 80%;
        width: 100%;
    }

   
    .cta-6 {
        padding: 8px 15px;
        font-size: 10px;
        line-height: 24px;
    }
    
    .footer-content {
        display: grid;
    }

    .cta.seven{
        display: grid;
        font-weight: 45;
        font-size: 9px;
        padding: 6px px;
    }
    
}

@media screen and (max-width: 266px) {
    .button{
        padding: 15px 12px;
        font-size: 12px;    
    }
    .hero-text h1{
        font-size: 12px;
        line-height: 18px;
    
    }

    .image-date{
        left: 15px;
        
    }



    .card {  
        margin: 6px px;
        height: 30em;
        width: 80%
    }
   

    

    .card-background-imaging.blue img{
        width: 60px;
        height: 80px;
    }
   
    .cta2 { 
        padding: 8px 0px;
        font-size: 5px;
    }

    .card-caption-big {
        
        font-size: 12px;
        font-weight: 700;
        padding: 30px 0px;
        line-height: 1.5;
    }

    .card-logo-big-box img {
        height: 36px;
        width: 36px;
    }
    .card-text {
       
        padding: 0px 16px;
    }

    .card-caption-big {
        font-size: 24px;
        padding: 30px 0px;
        line-height: 1.0;
    } 
    .card-caption-big {   
        font-size: 16px;
        padding: 25px 0px;
        line-height: 1.0;
    }
    .card-caption-text {
        font-size: 12px;
        line-height: 20px;
    }
    .card-body-containee img {
        height: 10px;
        width: 15px;
    }
    .card-body-text {
        font-size: 8px;
        margin-left: 10px;
        line-height: 14px;
        margin-left: 5px;
    }
    .card-logo-box {
        grid-row-gap: 15px;
    }
    .mini-logo {
        margin: 3.75px; /* Add some margin to avoid logos sticking together */
        width: 20%;
        height: 20px;
    }


    
    .card-icon-box{
        font-size: 28px;
    }
    .mini-icon{
        height: 24px;
        width: 24px;
    }
    .card-caption.three{
        font-size: 16px;
        line-height: 1;
        padding: 10px 0px;
    }
    .card-body.three{
        font-size: 9px;
        line-height: 1.5;
    }

    
    .global-text {
        font-size: 12px;
    }
    .card-text.four {
        padding: 0px 24px;
    }
    .card-caption.four {
        font-size: 20px;
    }
    .card-body.four {
        font-size: 12px;
    }
    .card-background-imaging.four.fortyone {
        top: 70%;
        left: 10%;
    }

    
    .cta-6 {
        padding: 10px 0px;
        font-size: 8px;
        line-height: 24px;
    }
    .card-caption.six {
        padding: 2px 0px;
    }
    .card-caption.six h2 {
        line-height: 30px;
        font-size: 18px;
        padding-bottom: 36px;
    }

    .cta-7 {
        font-size: 12px;
        padding: 10px 10px;
    }



    .footer-rights {
        margin-top: 20px;
        font-size: 9px;
        line-height: 24px;
        display: flexbox;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        flex: 1;
    }
    .footer-policy {
        margin-top: 24px;
        font-size: 9px;
        line-height: 24px;
    }
}
@media screen and (max-width: 200px) {
    .card {  
        margin: 6px px;
        height: 27em;
        width: 85%
    }

    .card-body-text{
        font-size: 7px;
    }

    .card-logos{
        display: none;
    }

    .card.three{
        width: 72%
    }
    .card-icon-box{
        font-size: 24px;
    }
    .mini-icon{
        height: 24px;
        width: 24px;
    }
    .card-caption.three{
        font-size: 16px;
        line-height: 1;
        padding: 10px 0px;
    }
    .card-body.three{
        font-size: 8px;
        line-height: 1.4;
    }
    

    .cta-6 {
        padding: 10px 0px;
        font-size: 5px;
        line-height: 24px;
    }
    .card-caption.six {
        padding: 2px 0px;
    }
    .card-caption.six h2 {
        line-height: 24px;
        font-size: 12px;
        padding-bottom: 24px;
    }

    .cta-7 {
        font-size: 10px;
        padding: 10px 10px;
    }
    
   
}

@media screen and (max-width: 800px) {
    
}